@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme static {
  --font-family-sans: 'Open Sans', sans-serif;

  --breakpoint-3xl: 1920px;
}

:root {
  --ui-text: var(--color-black);
  --ui-bg: var(--color-neutral-50);

  --ui-radius: var(--radius-sm);
}

.dark {
  --ui-text: var(--color-white);
  --ui-bg: var(--color-neutral-950);
}
